## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Saint-Pierre,RE,75.56,few clouds,-21.3393,55.4781,Lindsey Hôtel
1,7,San Patricio,US,82.85,broken clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,9,Saint-Francois,FR,79.68,clear sky,46.4154,3.9054,Manoir Du Bonheur
3,10,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,13,Ubrique,ES,83.07,broken clouds,36.6778,-5.4460,Hotel Sierra de Ubrique

In [3]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[[106]]
vacation_end = vacation_df.loc[[106]]
vacation_stop1 = vacation_df.loc[[29]]
vacation_stop2 = vacation_df.loc[[81]]
vacation_stop3 = vacation_df.loc[[103]]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
103,333,Galveston,US,82.09,scattered clouds,29.3669,-94.9669,Comfort Inn & Suites Texas City

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each vacation DataFrame using the to_numpy function and list indexing.
start = vacation_df["Lat"].to_numpy()[106], vacation_df["Lng"].to_numpy()[106]
end = vacation_df["Lat"].to_numpy()[106], vacation_df["Lng"].to_numpy()[106]
stop1 = vacation_df["Lat"].to_numpy()[29], vacation_df["Lng"].to_numpy()[29]
stop2 = vacation_df["Lat"].to_numpy()[81], vacation_df["Lng"].to_numpy()[81]
stop3 = vacation_df["Lat"].to_numpy()[103], vacation_df["Lng"].to_numpy()[103]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df = pd.DataFrame(itinerary_df)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,346,Palatka,US,81.05,clear sky,29.6486,-81.6376,Holiday Inn Express & Suites Palatka Northwest...
1,93,Morgan City,US,79.00,clear sky,29.6994,-91.2068,Hampton Inn & Suites Morgan City
2,261,Houston,US,82.00,clear sky,29.7633,-95.3633,"Hotel ICON, Autograph Collection"
3,333,Galveston,US,82.09,scattered clouds,29.3669,-94.9669,Comfort Inn & Suites Texas City

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat      Lng
0  29.6486 -81.6376
1  29.6994 -91.2068
2  29.7633 -95.3633
3  29.3669 -94.9669

In [30]:
# 11a. Add a marker layer for each city to the map.

max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))